@font-face {
	font-family: "FuturaDemiC";
	src: url("../../fonts/FutureDemiC/FuturaDemiC.woff2") format("woff2"),
			url("../../fonts/FutureDemiC/FuturaDemiC.ttf") format("ttf"),
			url("../../fonts/FutureDemiC/FuturaDemiC.eot") format("eot"),
			url("../../fonts/FutureDemiC/FuturaDemiC.woff") format("woff");
}

@font-face {
	font-family: "FuturaDemiC";
	src: url("../../fonts/FutureDemiC/FuturaDemiC-Italic.ttf") format("ttf");
	font-style: italic;
}