
// Main size
$largeDesktopWidth : 1440px;
$desktopWidth : 1280px;
$smDesktopWidth: 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 375px;

// Main color
$white-color : #ffffff;
$primary-color : #e5e5e5;
// $success-color : #131313;

$default-text-color: rgba( 0, 0, 0, .54 );
// $light-text-color: ;

// Font

$default-font: "Roboto", sans-serif;
// $primary-font: "";
// $success-font: "";
