
// Main size
$largeDesktopWidth : 1440px;
$desktopWidth : 1280px;
$smDesktopWidth: 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 375px;

// Main color
$white-color : #ffffff;
$primary-color : #E3B873;
$success-color : #131313;

// $darker-text-color: ;
// $light-text-color: ;

// Font

$default-font: "";
$primary-font: "";
$success-font: "";
